<template name="soundsLike">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <iframe src="https://translate.google.com/translate_tts?ie=UTF-8&tl=en&q={{ replaced }}" style="zoom:0.60" width="99.6%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
