<template name="sendThis">
  <html>
    <head>
      <title>Samantha Say It Best</title>
    </head>
    <body>
      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" bgcolor="#efefef" width="550">
            <table align="center" id="header" cellpadding="20" cellspacing="0">
              <tr>
                <td>
                  <img src="http://shopfreezone.com/catalog/view/theme/default/image/down-icon.png" alt="Samantha icon" height="50" />
                </td>
              </tr>
            </table>
            <table align="center" id="main" cellpadding="0" cellspacing="0" bgcolor="#fcfcfc" style="border:1px #ccc solid; border-top:4px #009688 solid; border-bottom:4px #009688 solid">
              <tr>
                <td>
                  <table align="center" id="headline" cellpadding="0" cellspacing="10">
                    <tr>
                      <td width="510">
                        <br />
                        <p valign="center" align="center" style="font-family: Helvetica, Arial, sans-serif; font-size: 24px; color: #696969; margin: 0px">
                          Samantha say it best
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table id="body" cellpadding="20" cellspacing="0">
                    <tr>
                      <td width="510">
                        <table id="Body" align="center" valign="middle" border-top="1" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="left">
                              <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #999; margin: 0px; line-height:120%; text-align: center">
                              	<a style="color: #999" href="{{url}}">Your vocal gift</a>.
                              </p>
                              <br />
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table id="button" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" style="background-color:#009688; border:1px solid #009688; border-radius:2px;">
                          <tr>
                            <td align="center" valign="middle" style="color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; letter-spacing:-.5px; line-height:150%; padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px;">
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table id="Body" align="center" valign="middle" border-top="1" cellpadding="2" cellspacing="5">
                          <tr>
                            <td align="center">
                              <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #999; margin: 0px; line-height:200%">
                                Why not try <a href="http://samantha.meteor.com" style="color: #999; text-decoration:none;">Samantha</a>.
                              </p>
                              <br />
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table align="center" id="header" cellpadding="20" cellspacing="0" bgcolor="#efefef" style="border:1px #ccc solid; border-top: none">
              <tr>
                <td width="510">
                  <p style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #999; margin: 0px; line-height:200%">
                    Questions or comments? Samantha is the voice when you dont have one. 
                  </p>
                </td>
              </tr>
            </table>
            <table align="center" id="unsub" cellpadding="20" cellspacing="0">
              <tr>
                <td align="center" width="550px">
                  <p style="color: #dedede; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 12px;">
			<a style="color: #999" href="http://samantha.meteor.com/api/blacklist/{{email}}">Blacklist my email Samantha</a>.
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </body>
  </html>
</template>
